$main-padding: 1.4rem;

* {
	margin: 0;
	padding: 0;
}

html {
	font-size: 18px;
}

body {
	font-family: sans-serif;
	color: #ccc;
	background-image: url("images/sky.jpg");
	background-size: 100vw 100vh;

	h1 {
		font-size: 1.5rem;
		padding: $main-padding;
		color: rgb(224, 224, 141);
	}

	article {
		background-color: #444;
		padding: 18px;
		margin: 0 $main-padding $main-padding $main-padding;
		border-radius: .5rem;
		font-size: 3rem;

		h2 {
			font-size: 1.2rem;
			padding-bottom: 1rem;
			color: rgb(216, 179, 110);
		}

		p:last-child {
			margin-bottom: 0;
		}

		p {
			font-size: 1rem;
			margin-bottom: .5rem;
		}
	}

	article:last-child {
		margin-bottom: $main-padding;
	}

}